
<!-- partial:../../partials/_navbar.html -->

<!-- partial -->
<div class="container-fluid page-body-wrapper">
  <!-- partial:../../partials/_sidebar.html -->
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="nav-profile-image">
          <img src="/assets/images/faces/face1.jpg" alt="profile">
          <span class="login-status online"></span>
          <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text d-flex flex-column">
          <span class="font-weight-bold mb-2">
            {{#if adminName}}
            {{adminName}}
            {{else}}
            Account
            {{/if}}
          </span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/product-view">
        <span class="menu-title">Products</span>
        <i class="mdi mdi-contacts menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/user-details">
        <span class="menu-title">Users</span>
        <i class="mdi mdi-account menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/category-view">
        <span class="menu-title">Categories</span>
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/order-view">
        <span class="menu-title">Orders</span>
        <i class="mdi mdi-weight menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/coupon-view">
        <span class="menu-title">Coupons</span>
        <i class="mdi mdi-vector-arrange-above menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/banner-view">
        <span class="menu-title">Banners</span>
        <i class="mdi mdi-chart-bar menu-icon"></i>
      </a>
    </li>
  </ul>
</nav>
  <!-- partial -->
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title"> Banners</h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Banners</a></li>
            <li class="breadcrumb-item active" aria-current="page">Banners</li>
          </ol>
        </nav>
      </div>


    {{!-- <input type="submit" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" value="ADD PRODUCTS"> --}}
    <a href="/admin/add-banner" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn mb-3">ADD BANNER</a>

      <div class="row">
            <section>
                <div class="container">

                   <div class="table-responsive">
                    <table class="table table-striped table-bordered table-responsive mt-5 display" style="padding-top:30px" id="bannerTable">
                        <thead>
                            <tr>
                            <th scope="col">No:</th>  
                            <th scope="col">Banner Title</th>
                            <th scope="col">Image</th>
                            <th scope="col">Status</th>
                            <th scope="col">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each banners}}
                            <tr>
                            <td>{{inc @index}}</td>
                            <td>{{this.title}}</td>
                            <td><img style="width: 100px; height:100px" src="{{this.image}}"></td>
                            {{#if this.bannerStatus}}
                            <td>Activated</td>
                            {{else}}
                            <td>Deactivated</td>
                            {{/if}}
                            {{#if this.bannerStatus}}
                            <td><a href="" class="btn btn-primary" disable="disable">Activated</a></td>
                            {{else}}
                            <td><a href="/admin/activate-banner/{{this._id}}" class="btn btn-primary">Activate</a></td>
                            {{/if}}
                            
                            </tr>
                            {{/each}}
                            
                            
                        </tbody>
                    </table>
                    </div>

                </div>
            </section>

          </div>
      




      
        <!-- partial -->
  </div>
      <!-- main-panel ends -->
</div>
<script>

  $(document).ready(function () {
    $('#bannerTable').DataTable();
  });

</script>