
<div class="container-fluid page-body-wrapper">
  <!-- sidebar -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile">
        <a href="#" class="nav-link">
          <div class="nav-profile-image">
            <img src="/assets/images/faces/face1.jpg" alt="profile">
            <span class="login-status online"></span>
          </div>
          <div class="nav-profile-text d-flex flex-column">
            <span class="font-weight-bold mb-2">
              {{#if adminName}}
              {{adminName}}
              {{else}}
              Account
              {{/if}}
            </span>
          </div>
          <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin">
          <span class="menu-title">Dashboard</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/product-view">
          <span class="menu-title">Products</span>
          <i class="mdi mdi-contacts menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/user-details">
          <span class="menu-title">Users</span>
          <i class="mdi mdi-account menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/category-view">
          <span class="menu-title">Categories</span>
          <i class="mdi mdi-format-list-bulleted menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/order-view">
          <span class="menu-title">Orders</span>
          <i class="mdi mdi-weight menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/coupon-view">
          <span class="menu-title">Coupons</span>
          <i class="mdi mdi-vector-arrange-above menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/banner-view">
          <span class="menu-title">Banners</span>
          <i class="mdi mdi-chart-bar menu-icon"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- edit-coupon -->
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title">
          <span class="page-title-icon bg-gradient-primary text-white me-2">
            <i class="mdi mdi-home"></i>
          </span> Generate Coupon
        </h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Coupons</a></li>
            <li class="breadcrumb-item active" aria-current="page">Generate Coupons</li>
          </ol>
        </nav>
      </div>
      {{#if err}}
      <div class="text-center">
        <p class="text-danger">*{{err}}</p>
      </div>
      {{/if}}
      <form action="/admin/edit-coupon/{{coupon._id}}" id="submit-form" method="post">
        <div class="p-3 p-lg-5 border ">
          <div class="form-group row">
            <div class="col-md-6">
              <label for="c_fname" class="text-black">Coupon Name</label>
              <input type="text" class="form-control" id="name" name="name" value="{{coupon.name}}" disabled />
              <span id="name-error" class="validation-label"></span>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <label for="c_email" class="text-black">Coupon code</label>
              <input type="text" class="form-control" id="code" name="code" value="{{coupon.code}}" onkeyup="validateEmail()" disabled/>
              <span id="email-error" class="validation-label"></span> 
            </div>
          </div>
            <div class="form-group row">
              <div class="col-md-6">
                <label for="c_mobile" class="text-black">Coupon Discount</label>
                <input type="tel" class="form-control" id="discount" name="discount" value="{{coupon.discount}}" onkeyup="validatePhone()"/>
                <span id="phone-error" class="validation-label"></span> 
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <label for="c_password" class="text-black">Expiry date</label>
                <input type="date" class="form-control" id="expiry" name="expiry" value="{{coupon.expiry}}" onkeyup="validatePassword()"/>
                <span id="password-error" class="validation-label"></span>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <label for="c_password" class="text-black">Min purchase amount</label>
                <input type="tel" class="form-control" id="minAmount" name="minAmount" value="{{coupon.minAmount}}" onkeyup="validatePassword()"/>
                <span id="password-error" class="validation-label"></span>
              </div>
            </div>
            <input type="text" style="display: none;" value="true" name="couponStatus" />
            <div class="form-group row">
              <div class="col-lg-6">
                <input type="submit" class="btn btn-primary btn-lg btn-block" onclick="return validateForm()" value="Submit">
                <span id="submit-error" class="validation-label"></span>
              </div>
            </div>
          </div>
        </form>
    </div>    
</div>
