
<div class="container-fluid page-body-wrapper">
  <!-- sidebar -->
 <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile">
        <a href="#" class="nav-link">
          <div class="nav-profile-image">
            <img src="/assets/images/faces/face1.jpg" alt="profile">
            <span class="login-status online"></span>
          </div>
          <div class="nav-profile-text d-flex flex-column">
            <span class="font-weight-bold mb-2">
              {{#if adminName}}
              {{adminName}}
              {{else}}
              Account
              {{/if}}
            </span>
          </div>
          <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin">
          <span class="menu-title">Dashboard</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/product-view">
          <span class="menu-title">Products</span>
          <i class="mdi mdi-contacts menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/user-details">
          <span class="menu-title">Users</span>
          <i class="mdi mdi-account menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/category-view">
          <span class="menu-title">Categories</span>
          <i class="mdi mdi-format-list-bulleted menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/order-view">
          <span class="menu-title">Orders</span>
          <i class="mdi mdi-weight menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/coupon-view">
          <span class="menu-title">Coupons</span>
          <i class="mdi mdi-vector-arrange-above menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/banner-view">
          <span class="menu-title">Banners</span>
          <i class="mdi mdi-chart-bar menu-icon"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- product-view -->
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title"> Products </h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Products</a></li>
            <li class="breadcrumb-item active" aria-current="page">Products</li>
          </ol>
        </nav>
      </div>
      <a href="/admin/add-products" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn mb-3">ADD PRODUCTS</a>
      <div class="row">
        <section>
          <div class="container">
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-responsive mt-5 display" style="padding-top:30px" id="productsTable">
                <thead>
                  <tr>
                    <th scope="col">No:</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">price</th>
                    <th scope="col">stock</th>
                    <th scope="col">Image</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each products}}
                  <tr>
                    <td>{{inc @index}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.categoryDetails.[0].category}}</td>
                    <td>{{this.subPrice}}</td>
                    <td>{{this.productQuantity}}</td>
                    <td><img style="width: 50px;" src="{{this.image.[0]}}"></td>
                    <td><a href="/admin/edit-products/{{this.slug}}" class="btn btn-primary">Edit</a></td>
                    {{#if this.productStatus}}
                    <td> <button data-toggle="modal" data-target="#unlist{{this._id}}" class="btn btn-danger">Unlist</button></td>
                    {{else}}
                    <td> <button data-toggle="modal" data-target="#list{{this._id}}" class="btn btn-success">list</button></td>
                    {{/if}}
                  </tr>
                  {{/each}}  
                </tbody>
              </table>
            </div>
          </div>
        </section>
      </div>
  </div>
</div>

{{#each products}}
  <div class="modal fade" id="unlist{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>You want to unlist {{this.name}} </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <a href="/admin/unlist-product/{{this._id}}" type="button" class="btn btn-danger">Yes</a> 
        </div>
      </div>
    </div>
  </div>                    
{{/each}} 

{{#each products}}
  <div class="modal fade" id="list{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>You want to list {{this.name}} </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <a href="/admin/list-product/{{this._id}}" type="button" class="btn btn-danger">Yes</a> 
        </div>
      </div>
    </div>
  </div>                        
{{/each}} 

    
<script>
  $(document).ready(function () {
    $('#productsTable').DataTable();
  });
</script>