
{{!-- <!-- partial:../../partials/_navbar.html --> --}}

<!-- partial -->
<div class="container-fluid page-body-wrapper">
  {{!-- <!-- partial:../../partials/_sidebar.html --> --}}
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile">
        <a href="#" class="nav-link">
          <div class="nav-profile-image">
            <img src="/assets/images/faces/face1.jpg" alt="profile">
            <span class="login-status online"></span>
        {{!-- <!--change to offline or busy as needed--> --}}
          </div>
          <div class="nav-profile-text d-flex flex-column">
            <span class="font-weight-bold mb-2">
              {{#if adminName}}
              {{adminName}}
              {{else}}
              Account
              {{/if}}
            </span>
          </div>
          <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin">
          <span class="menu-title">Dashboard</span>
          <i class="mdi mdi-home menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/product-view">
          <span class="menu-title">Products</span>
          <i class="mdi mdi-contacts menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/user-details">
          <span class="menu-title">User</span>
          <i class="mdi mdi-contacts menu-icon"></i>
        </a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/admin/category-view">
        <span class="menu-title">Category</span>
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
      </a>
    </li>
      <li class="nav-item">
        <a class="nav-link" href="pages/charts/chartjs.html">
          <span class="menu-title">Order status</span>
          <i class="mdi mdi-chart-bar menu-icon"></i>
        </a>
      </li>
    </ul>
  </nav>
  {{!-- <!-- partial --> --}}
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title"> User Details </h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">User</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Details</li>
          </ol>
        </nav>
      </div>
        <a href="/admin/add-user" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn">Add user</a>
          <div class="row">
            
            
            <section>
                <div class="container">

                   <div>
                    <table class="table table-striped table-bordered table-responsive mt-5 display" style="padding-top:30px" id="userTable">
                        <thead>
                            <tr>
                            <th scope="col">No:</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone no</th>
                            <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each user}}
                            <tr>
                            <td>{{inc @index}}</td>
                            <td>{{this.name}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.phone}}</td>
                            {{#if this.userStatus}}
                              <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Block{{this._id}}">Block</button> </td>
                            {{else}}
                              <td> <button class="btn btn-success" data-toggle="modal" data-target="#unblock{{this._id}}" >Unblock</button></td>
                            {{/if}}
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    </div>
                </div>
            </section>
          </div>
      </div>
      </div>
      </div>
</div>


{{#each user}}

  <div class="modal fade" id="Block{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>You want to block this user </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <a href="/admin/block-user/{{this._id}}" type="button" class="btn btn-danger">Yes</a> 
        </div>
      </div>
    </div>
  </div>
                            
{{/each}}                      


{{#each user}}
  <div class="modal fade" id="unblock{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel1">Are you sure?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>You want to unblock this user </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <a href="/admin/unblock-user/{{this._id}}" type="button" class="btn btn-danger">Yes</a> 
        </div>
      </div>
    </div>
  </div>
  {{/each}}          



<script>
  $(document).ready(function () {
    $('#userTable').DataTable();
  });
</script>



  