 <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
 <style>
  .heart-icon{
    position: absolute;
    top: 20px;
    right: 50px;
    background-color: white;
    border-radius: 50%;
  }
  .soldOut{
    width: 80%;
    right: 10%;
    position: absolute;
    top: 40%;
    right: ;
    background-color: white;
  }
  .badge {
    position: absolute;
    left: 10;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
  }
 </style>

 <div class="site-wrap">
    <div class="site-blocks-cover inner-page" style="background-color: #030e0e;" data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto order-md-2 align-self-start">
            <div class="site-block-cover-content">
            <h2 class="sub-title text-white">#New Summer Collection 2019</h2>
            <h1 class="text-white">Arrivals Sales</h1>
            <p><a href="/user-shop" class="btn btn-black border rounded-0 text-white mx-auto">Shop Now</a></p>
            </div>
          </div>
          <div class="col-md-6 order-1 align-self-end ">
            <img src="/images/p2.jpg" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-9 order-1">
            <div class="row align">
              <div class="col-md-12 mb-5">
                <div class="float-md-left"><h2 class="text-black h5">Shop All</h2></div>  
                <div class="d-flex">
                  <div class="dropdown mr-1 ml-md-auto">
                    <button type="button" class="btn btn-white btn-sm px-4"><a href="/user-shop"> CLEAR FILTER</a></button>
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-white btn-sm dropdown-toggle px-4" id="dropdownMenuReference" data-toggle="dropdown">SORT</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                      <a class="dropdown-item" href="/low-high-sort-category">Price, low to high</a>
                      <a class="dropdown-item" href="/high-low-sort-category">Price, high to low</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{#if products}}
            <div class="row mb-5">  
              {{#each products}}
              {{#if productStatus}}
              {{#if  (isEqual this.productQuantity 0)}}
              <div class="col-lg-4 col-md-4 item-entry mb-4">
                <div class="badge">sold out</div>
                  <a href="/product-details/{{this.slug}}" class="sm-height bg-gray d-block">
                    <img src="{{this.image.[0]}}" alt="Image" class="img-fluid">
                  </a>
                  <div class="d-flex">
                    <div>
                      <a  class="icons-btn heart-icon d-inline-block text-primary info" type="button" ><span class="icon-heart-o"></span></a>
                      <h4 class="mt-4" style="font-size: 15px; color:#030e0e"><a >{{this.name}}</a></h4>
                      <p><strong class="item-price mt-4">₹{{this.price}}.00</strong><del>(₹{{this.subPrice}}.00)</del></p>
                    </div>
                    <div class="ml-auto">
                      <button style="float: right;" class="buy-now btn btn-sm height-auto px-3 py-2 btn-primary mt-4 " ><span class="icon-shopping-bag"></span></button>
                    </div> 
                  </div>
                </div>
             {{else}}
              <div class="col-lg-4 col-md-4 item-entry mb-4">
              <div class="badge">sale</div>
              <a href="/product-details/{{this.slug}}" class="sm-height bg-gray d-block">
                <img src="{{this.image.[0]}}" alt="Image" class="img-fluid">
              </a>
              <div class="d-flex">
                <div>      
                  <a  class="icons-btn heart-icon d-inline-block text-primary info" type="button" onclick="addToWishlist('{{this._id}}','{{this.product._id}}')"><span class="icon-heart-o"></span></a> 
                    <h4 class="mt-4" style="font-size: 15px; color:#030e0e"><a href="/product-details/{{this.slug}}">{{this.name}}</a></h4>
                    <strong class="item-price mt-4">{{this.price}}</strong><del class="p-2">(₹{{this.subPrice}}.00)</del>
                    </div>
                    <div class="ml-auto">
                      <button  style="float: right;" class="buy-now btn btn-sm height-auto px-3 py-2 btn-primary mt-4 " data-toggle="modal" data-target="#size{{this._id}}"><span class="icon-shopping-bag"></span></button>
                    </div>
                  </div>
              </div>
              {{/if}}
              {{/if}}
              {{/each}}           
            </div> 
            {{else}}
            <div class="row mb-5">
              <div class="col-md-12 d-flex justify-content-center align-items-center">
                <div class="p=lg-3 p-5 justify-content-center text-center bg-white border" style="border-radius: 50px;">
                  <img src="/images/no_product.jpg" style="width: 300px;" alt="Image" class="img-fluid">
                  <h3 class=" text-dark mt-3">No result found!</h3>
                  <h6 class="sub-title mb-3">Sorry, we couldn't find what you wanted for.</h6>
                  <p><a href="/user-shop" class="btn btn-black rounded-0">Shop Now</a></p>
                </div>
              </div> 
            </div>
             {{/if}}
            <div class="row">
              <div class="col-md-12 text-center">
                <div class="text-center" style="border-radius: 30px;">
                  <div class="col d-flex justify-content-center pagination " > 
	                </div>
                   <input type="text" id="totalCount" value="{{totalCount}}" hidden>
                    <input type="text" id="currentPage" value="{{currentPage}}" hidden>
                </div> 
              </div>
            </div>
          </div>
          <div class="col-md-3 order-2 mb-5 mb-md-0">
            <div class="border p-4 rounded mb-4">
              <h3 class="mb-3 h6 text-uppercase text-black d-block">Filter by Category</h3>
              <ul class="list-unstyled mb-0 text-center">
                {{#each category}}
                {{#if categoryStatus}}
                <li class="mb-1 btn btn-white border rounded-0" style="width: 140px;"><a href="/filter-category/{{this._id}}" class="d-flex"><span class="px-4 mt-2">{{this.category}}</span></a></li>
                {{/if}}
                {{/each}}
              </ul>
            </div>
            <div class="border p-4 rounded mb-4">
              <div class="mb-4">
                <h3 class="mb-3 h6 text-uppercase text-black d-block">Filter by Price</h3>
              </div>
              <form action="/category-filter-price" method="post">
                <select class="form-control m-2" id="lower-price" name="lowerprice" >
                  <option value="">Lower price</option>
                  {{#for 4000 60000 1000}}
                    <option value="{{this}}">{{this}}</option>  
                  {{/for}} 
                </select>
                 <select class="form-control m-2" id="upper-price" name="upperprice" >
                  <option value="">Upper price</option>
                  {{#for 4000 60000 1000}}
                    <option value="{{this}}">{{this}}</option>  
                  {{/for}} 
                </select>
                <button type="submit" class="btn btn-sm height-auto mt-3 px-3 py-1 btn-primary form-control m-2" >Fiter</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section">
      <div class="container">
        <div class="title-section mb-5">
          <h2 class="text-uppercase"><span class="d-block">Discover</span> The Collections</h2>
        </div>
        <div class="row align-items-stretch">
          <div class="col-lg-4">
            <div class="product-item sm-height  ">
              <a href="#" class="product-category">Rings </a>
              <img src="/images/model3.jpg" alt="Image" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="product-item sm-height  ">
              <a href="#" class="product-category">Earrings </a>
              <img src="/images/model4.jpg" alt="Image" class="img-fluid">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="product-item sm-height ">
              <a href="#" class="product-category">Necklace </a>
              <img src="/images/model5.jpg" alt="Image" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="site-footer custom-border-top">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <h3 class="footer-heading mb-4">Promo</h3>
            <a href="#" class="block-6">
              <img src="/images/model1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
              <h3 class="font-weight-light  mb-0">Finding Your Perfect Jewels This Season</h3>
            </a>
          </div>
          <div class="col-lg-5 ml-auto mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Quick Links</h3>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Sell online</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Shopping cart</a></li>
                  <li><a href="#">Store builder</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Mobile commerce</a></li>
                  <li><a href="#">Dropshipping</a></li>
                  <li><a href="#">Website development</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Point of sale</a></li>
                  <li><a href="#">Hardware</a></li>
                  <li><a href="#">Software</a></li>
                </ul>
              </div>
            </div>
          </div> 
          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">203 Lake St. Mountain View, San Francisco, California, USA</li>
                <li class="phone"><a>+91 792 3929 210</a></li>
                <li class="email">gemmajewel@gmail.com</li>
              </ul>
            </div>
            <div class="block-7">
              <form action="#" method="post">
                <label for="email_subscribe" class="footer-heading">Subscribe</label>
                <div class="form-group">
                  <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                  <input type="submit" class="btn btn-sm btn-primary" value="Send">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="icon-heart" aria-hidden="true"></i> by <a href="https://gemma.com" target="_blank" class="text-primary">Gemma</a>
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>
    {{#each products}}
      <div class="modal fade" id="size{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Select Size</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="align-items-center" style="text-align: center;">
              <form action="">
                <div class="mb-1 mt-3 d-flex justify-content-center">
                  <label for="option-sm" class="d-flex mr-3 mb-3">
                    <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-sm" value="S" name="size" checked></span> <span class="d-inline-block text-black">Small</span>
                  </label>
                  <label for="option-md" class="d-flex mr-3 mb-3">
                    <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-md" value="M" name="size"></span> <span class="d-inline-block text-black">Medium</span>
                  </label>
                  <label for="option-lg" class="d-flex mr-3 mb-3">
                    <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-lg" value="L" name="size"></span> <span class="d-inline-block text-black">Large</span>
                  </label>
                  <label for="option-lg" class="d-flex mr-3 mb-3">
                    <span class="d-inline-block mr-2" style="top:-2px; position: relative;"><input type="radio" id="option-xl" value="XL" name="size"></span> <span class="d-inline-block text-black">Extra Large</span>
                  </label>
                  <input type="text" id="selectedSize" value="S" hidden>
                </div>
                <div style="display: flex; justify-content: center;">
                  <button onclick="addToCart('{{this._id}}')" style="float: right;" data-dismiss="modal" class="buy-now btn btn-sm height-auto px-3 py-2 btn-primary mt-4 mb-3" data-toggle="modal" data-target="#sizeChartModal"><span class="icon-shopping-bag"> ADD TO CART</span></button>
                </div>
              </div>
            </form>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
{{/each}}
  
<script>
  function addToWishlist(wishlistId,proId){
    $.ajax({
      url:'/add-to-wishlist',
      data:{
        wishlist:wishlistId,
        product:proId
      },
      method:'post',
      success:(response)=>{
        if(response.addProduct){
          Toastify({
            text: "Added to Wishlist",
            className: "info",
            duration: 3000,
            gravity: "top", 
            position: "center",
            style: {
              background: "linear-gradient(to right, #6B061C,#FC1964)",
            }
          }).showToast();
        }
        else{
          Toastify({
          text: "Removed from Wishlist",
          className: "info",
          duration: 3000,
          gravity: "top", 
          position: "center",
          style: {
            background: "linear-gradient(to right, #6B061C,#FC1964)",
          }
        }).showToast();
        }
      }
    })
  }
  
  const radioButtons = document.getElementsByName('size');
    radioButtons.forEach(button => {
      button.addEventListener('click', () => {
        const selectedButton = document.querySelector('input[name="size"]:checked');
        document.getElementById('selectedSize').value = selectedButton.value
      });   
    });

    document.addEventListener("DOMContentLoaded", ()=>{
		const totalCountInput = document.getElementById('totalCount');
		const totalCount = Number(totalCountInput.value);
		const currentPageInput = document.getElementById('currentPage');
		const currentPage = Number(currentPageInput.value);
		const totalPages = Math.ceil(totalCount/6);
		let page =  currentPage || 1;
		const paginationElement = document.querySelector('.pagination');
		let pageLinks = '';
		for (let i = 1; i <= totalPages; i++) {
		  pageLinks += `<ul style="list-style-type: none;"><li class="page-item${i === page ? ' active' : ''}"><a class="page-link" style="color: black;" href="?page=${i}">${i}</a></li></ul>`;
		}
		paginationElement.innerHTML = pageLinks;
	});
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
