
  
  <div class="site-wrap">
    {{!-- <div class=" py-3" style="background-color: #f9f9f9;">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span><a href="/user-profile">Profile</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Cart</strong></div>
        </div>
      </div>
    </div> --}}

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          {{#if orderEmpty}}
            <div class="col-md-12 d-flex justify-content-center">
            <div class="p=lg-3 p-3 border justify-content-center text-center">
              <img src="images/empty_order.jpg" style="width: 250px;" alt="Image" class="img-fluid">
              <h3 class="text-uppercase text-dark">No Orders yet.</h3>
              <h5 class="sub-title text-dark">Looks like you haven't made your choices yet.</h5>
              <p><a href="/user-shop" class="btn btn-black rounded-0">Shop Now</a></p>

            </div>
          </div> 
          {{else}}
            <form class="col-md-12" method="post">
            <div class="site-blocks-table">
              <h2 class="h3 mb-3 text-black">My Orders</h2>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="product-thumbnail">Order ID</th>
                    {{!-- <th class="product-name">Address</th> --}}
                    <th class="product-price">Total Amount</th>
                    <th class="product-quantity">Shipping Address</th>
                    <th class="product-remove">Status</th>
                    <th class="product-remove">Date</th>
                    <th class="product-remove">Order</th>
                    <th class="product-remove">Options</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each orders}}
                  <tr>
                    
                    <td class="product-name">
                      <h2 class="h6 text-black">{{this._id}}</h2>
                    </td>
                    {{!-- <td class="product-name">
                      <h2 class="h6 text-black">{{this.deliveryDetails.address}}</h2>
                    </td>--}}
                    <td> 
                        <h2 class="h6 text-black">Rs.{{this.totalAmount}}</h2>
                    </td>
                    
                    <td>
                        <h2 class="h6 text-black">{{this.deliveryDetails.address}}</h2>
                    </td>
                    <td>
                        <h2 class="h6 text-black">{{this.status}}</h2>
                    </td>
                    <td>
                        <h6 class=" text-black">{{this.date}}</h6>
                    </td>
                    <td><a href="/view-order-product/{{this._id}}"><button class="btn btn-primary height-auto btn-sm" type="button" >Order Items</button></a></td>

                    {{#if this.isDelivered}}
                    <td> <button class="btn btn-primary height-auto btn-sm" type="button" data-toggle="modal" data-target="#return{{this._id}}">Return</button></td>
                    {{!-- {{else if returnEnd}}
                     <td> <button class="btn btn-primary height-auto btn-sm" type="button" disabled="disabled" data-toggle="modal" >Return</button></td> --}}
                    {{else if this.isCancelled}}
                    <td> <button class="btn btn-primary height-auto btn-sm" type="button" disabled="disabled" data-toggle="modal" >Cancelled</button></td>
                    {{else if this.isRequested}}
                    <td> <button class="btn btn-primary height-auto btn-sm" type="button" disabled="disabled" data-toggle="modal" >Requested</button></td>
                    {{else if this.isReturned}}
                    <td> <button class="btn btn-primary height-auto btn-sm" type="button" disabled="disabled" data-toggle="modal" >Returned</button></td>
                    {{else}}
                    {{!-- <td><a href="/admin/cancel-order/{{this._id}}" class="btn btn-gradient-danger">cancel Order</a></td> --}}
                    <td><button type="button" class="btn btn-primary height-auto btn-sm" data-toggle="modal" data-target="#cancel{{this._id}}">Cancel Order</button> </td>
                    {{/if}}


                    {{!-- <td>
                        <a href="#"> <button class="btn btn-primary height-auto btn-sm" type="button" data-toggle="modal" data-target="#cancel{{this._id}}"> Cancel</button></a>
                    </td> --}}
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </form>
          {{/if}}
        </div>

        
      </div>
    </div>

    <footer class="site-footer custom-border-top">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <h3 class="footer-heading mb-4">Promo</h3>
            <a href="#" class="block-6">
              <img src="/images/model1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
              <h3 class="font-weight-light  mb-0">Finding Your Perfect Jewels This Season</h3>
            </a>
          </div>
          <div class="col-lg-5 ml-auto mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Quick Links</h3>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Sell online</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Shopping cart</a></li>
                  <li><a href="#">Store builder</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Mobile commerce</a></li>
                  <li><a href="#">Dropshipping</a></li>
                  <li><a href="#">Website development</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Point of sale</a></li>
                  <li><a href="#">Hardware</a></li>
                  <li><a href="#">Software</a></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">203 Lake St. Mountain View, San Francisco, California, USA</li>
                <li class="phone"><a>+91 792 3929 210</a></li>
                <li class="email">gemmajewel@gmail.com</li>
              </ul>
            </div>

            <div class="block-7">
              <form action="#" method="post">
                <label for="email_subscribe" class="footer-heading">Subscribe</label>
                <div class="form-group">
                  <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                  <input type="submit" class="btn btn-sm btn-primary" value="Send">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="icon-heart" aria-hidden="true"></i> by <a href="https://gemma.com" target="_blank" class="text-primary">Gemma</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
          
        </div>
      </div>
    </footer>
  </div>

  {{#each orders}}

          <div class="modal fade" id="cancel{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>You want to cancel this order?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary " data-dismiss="modal">No</button>
                  <a href="/cancel-order/{{this._id}}" type="button" class="btn btn-primary ">Yes</a> 
                </div>
              </div>
            </div>
          </div>
                                    
        {{/each}}

        {{#each orders}}

          <div class="modal fade" id="return{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>You want to return this order?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <a href="/return-order/{{this._id}}" type="button" class="btn btn-primary">Yes</a> 
                </div>
              </div>
            </div>
          </div>
                                    
        {{/each}}

  