
  <div class="site-wrap" style="overflow-x: hidden;">

    <div class="site-blocks-cover" data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto order-md-2 align-self-start">
            <div class="site-block-cover-content ">
            <h2 class="sub-title">#New Summer Collection 2023</h2>
            <h1>Arrivals Sales</h1>
            {{#if user}}
            <p><a href="/user-shop" class="btn btn-black rounded-0">Shop Now</a></p>
            {{else}}
            <p><a href="/login" class="btn btn-black rounded-0">Shop Now</a></p>
            {{/if}}
            </div>
          </div>
          <div class="col-md-6 order-1 align-self-end">
            {{#each banners}}
            {{#if this.bannerStatus}}
            <img src="{{this.image}}" alt="Image" class="img-fluid"> {{!--model_3.png, b4.png--}}
            {{/if}}
            {{/each}}
            {{!-- <img src="images/p1.jpg" alt="Image" class="img-fluid">  --}}
          </div>
        </div>
      </div>
    </div> 

    


    
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section mb-5 col-12">
            <h2 class="text-uppercase">Popular Products</h2>
          </div>
        </div>
        <div class="row">
          {{#if user}}
          {{#each popularProducts}}
          <div class="col-lg-4 col-md-6 item-entry mb-4 text-center">
            <a href="/product-details/{{this.slug}}" class=" md-height bg-gray d-block">
              <img src="{{this.image.[0]}}" alt="Image" class="img-fluid">
            </a>
            <h2 class="item-title mt-2"><a href="/product-details/{{this.slug}}">{{this.name}}</a></h2>
            <strong class="item-price"><del>₹{{this.subPrice}}.00</del> ₹{{this.price}}.00</strong>

            <div class="star-rating">
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
            </div>
          </div>
          {{/each}}
          {{else}}
          {{#each popularProducts}}
          <div class="col-lg-4 col-md-6 item-entry mb-4 text-center">
            <a href="#" class=" md-height bg-gray d-block">
              <img src="{{this.image.[0]}}" alt="Image" class="img-fluid">
            </a>
            <h2 class="item-title mt-2"><a href="#">{{this.name}}</a></h2>
            <strong class="item-price"><del>₹{{this.subPrice}}.00</del> ₹{{this.price}}.00</strong>

            <div class="star-rating">
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
              <span class="icon-star2 text-warning"></span>
            </div>
          </div>
          {{/each}}
          {{/if}}
          

        </div>
        <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="title-section text-center mb-5 col-12">
            <h2 class="text-uppercase">Most Rated</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 block-3">
            <div class="nonloop-block-3 owl-carousel">
              {{#if user}}
              {{#each popularProducts}}
              <div class="item text-center">
                <div class="item-entry">
                  <a href="/product-details/{{this.slug}}" class=" md-height bg-gray d-block">
                    <img src="{{this.image.[0]}}" alt="Image" class="img-fluid">
                  </a>
                  <h2 class="item-title mt-2"><a href="/product-details/{{this.slug}}">{{this.name}}</a></h2>
                  <strong class="item-price"><del>₹{{this.subPrice}}.00</del> ₹{{this.price}}.00</strong>
                  <div class="star-rating">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>
                </div>
              </div>
              {{/each}}
              {{else}}
              {{#each popularProducts}}
              <div class="item text-center">
                <div class="item-entry">
                  <a href="#" class=" md-height bg-gray d-block">
                    <img src="{{this.image.[0]}}" alt="Image" class="img-fluid">
                  </a>
                  <h2 class="item-title mt-2"><a href="#">{{this.name}}</a></h2>
                  <del>₹{{this.subPrice}}.00</del><strong class="item-price h4">₹{{this.price}}.00</strong>
                  <div class="star-rating">
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                    <span class="icon-star2 text-warning"></span>
                  </div>
                </div>
              </div>
              {{/each}}
              {{/if}}

            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>

    


    <div class="site-blocks-cover inner-page py-5" data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto order-md-2 align-self-start">
            <div class="site-block-cover-content">
            <h2 class="sub-title">#New Summer Collection 2019</h2>
            <h1>Wedding Rings</h1>
            <p><a href="#" class="btn btn-black rounded-0">Shop Now</a></p>
            </div>
          </div>
          <div class="col-md-6 order-md-2 align-self-start">
            <img src="/images/model7.jpg" alt="Image" class=""> {{!-model7.jpg}}
          </div>
        </div>
      </div>
    </div>

    <footer class="site-footer custom-border-top">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <h3 class="footer-heading mb-4">Promo</h3>
            <a href="#" class="block-6">
              <img src="/images/model1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
              <h3 class="font-weight-light  mb-0">Finding Your Perfect Jewels This Season</h3>
            </a>
          </div>
          <div class="col-lg-5 ml-auto mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Quick Links</h3>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Sell online</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Shopping cart</a></li>
                  <li><a href="#">Store builder</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Mobile commerce</a></li>
                  <li><a href="#">Dropshipping</a></li>
                  <li><a href="#">Website development</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Point of sale</a></li>
                  <li><a href="#">Hardware</a></li>
                  <li><a href="#">Software</a></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">203 Lake St. Mountain View, San Francisco, California, USA</li>
                <li class="phone"><a>+91 792 3929 210</a></li>
                <li class="email">gemmajewel@gmail.com</li>
              </ul>
            </div>

            <div class="block-7">
              <form action="#" method="post">
                <label for="email_subscribe" class="footer-heading">Subscribe</label>
                <div class="form-group">
                  <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                  <input type="submit" class="btn btn-sm btn-primary" value="Send">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="icon-heart" aria-hidden="true"></i> by <a href="https://gemma.com" target="_blank" class="text-primary">Gemma</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
          
        </div>
      </div>
    </footer>
  </div>

    

 